.date-input {
    /* Add your styles here */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: 400;

}